<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094109259830-gnrnsl64c77kjsah58qi1frh6mgtbouj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094109259830-gnrnsl64c77kjsah58qi1frh6mgtbouj</string>
	<key>API_KEY</key>
	<string>AIzaSyCqu_Fg5Od071uV4bPlkf4Yo1nWwkjy0J0</string>
	<key>GCM_SENDER_ID</key>
	<string>1094109259830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.devemotiontracker</string>
	<key>PROJECT_ID</key>
	<string>dev-emotion-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-emotion-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094109259830:ios:db6e55a3fc637959</string>
	<key>DATABASE_URL</key>
	<string>https://dev-emotion-tracker.firebaseio.com</string>
</dict>
</plist>